<h1><%= @workout.title %></h1>
<p><%= @workout.description %></p>

<h2>Упражнения</h2>
<%= render @workout.exercises %>

<%= form_with model: [@workout, Exercise.new] do |f| %>
  <%= f.label :name, "Название" %>
  <%= f.text_field :name %>

  <%= f.label :sets, "Подходы" %>
  <%= f.number_field :sets %>

  <%= f.label :reps, "Повторения" %>
  <%= f.number_field :reps %>

  <%= f.submit "Добавить" %>
<% end %>